version: '3'

volumes:
  ignore:
  
services:
  api:
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    container_name: judgelight-api
    volumes:
      - ./cmd:/go/src/app/cmd/
      - ./pkg:/go/src/app/pkg/
      - ./docker/language:/go/src/app/docker/language/
      - ./setting.yaml:/go/src/app/setting.yaml
    hostname: backend
    restart: always
    tty: true
    ports:
      - 8080:8080
    depends_on:
      - mysql
    networks:
      - app-network

  next:
    build:
      context: .
      dockerfile: ./docker/next/Dockerfile
    container_name: judgelight-next
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/usr/src/app/frontend
      - ignore:/node_modules
    hostname: frontend
    restart: always
    ports:
      - '3000:3000'
    tty: true
    working_dir: /usr/src/app/frontend
    entrypoint:
      - sh
    command:
      - -c
      - |
        [ -f ~/.exec-once ] || {
          yarn install && yarn build && touch ~/.exec-once
        }
        yarn dev
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    container_name: judgelight-nginx
    restart: always
    tty: true
    depends_on:
      - next
      - api
    ports:
      - 80:80
    volumes:
      - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

  mysql:
    build:
      context: .
      dockerfile: ./docker/mysql/Dockerfile
    container_name: judgelight-mysql
    restart: always
    tty: true
    ports:
      - 4306:3306
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/init.d:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
    networks:
      - app-network
      
networks:
  app-network:
    driver: bridge
